# ==========================
# Delphi / RAD Studio
# ==========================

# Arquivos compilados
*.dcu
*.dcp
*.dcpil
*.dpu
*.ppu
*.o
*.obj
*.exe
*.dll
*.bpl
*.bpi
*.res
*.map
*.cfg
*.pch
*.apk
*.apks
*.aab
*.so
*.dylib
*.dSYM/

# Arquivos temporários de projeto
*.local
*.identcache
*.projdata
*.tvsconfig
*.stat
*.dsk
*.dproj.local
*.dproj.bak

# Diretórios de histórico e recuperação do Delphi
__history/
__recovery/

# ==========================
# Plataformas específicas
# ==========================

# Android
mobile/Android/Debug/
mobile/Android64/Debug/
*.dex
*.class
*.apk.idsig

# iOS
*.ipa
*.xcarchive/
ios/build/
ios/Pods/
ios/.expo

# Windows
mobile/Win32/
mobile/Win64/

# MacOS
*.app
*.pkg

# ==========================
# IDEs e editores
# ==========================

# RAD Studio cache
*.drc

# VS Code
.vscode/

# JetBrains / IntelliJ IDEA
.idea/

# Arquivos temporários do editor
*.swp
*.swo

# ==========================
# Logs e caches
# ==========================

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caches
.cache/
.metro-cache/
.expo/
.expo-shared/

# ==========================
# Arquivos de sistema
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# Banco de dados Firebird
Database/
*.fdb

