# Delphi cache e backups
__history/
__recovery/
*.dcu
*.dcp
*.local
*.identcache
*.stat
*.tvsconfig

# Android build
*.apk
*.dex
*.class
*.so
*.jar
*.o
*.a
*.res

# Windows build
*.exe
*.dll
*.obj
*.map

# Outras pastas temporárias
.idea/
*.tmp
